
.nav-item{
    margin-left: 2%;
}

.navbar {
    padding: 0px;  
    
}
.navbar-brand {
 
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#navSection{
    background-color:rgb(248,249,250);
     z-index: 3;
    position:fixed;
    top:0;
}


#hubcol{
color:snow;
font-family: "Black Ops One", system-ui;
font-weight: 400;
font-style: normal;
}

#nav{
    font-size: 20px;

    font-weight: bolder;
    color:white;    
   
}


.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}
.nav-item a{
    color: blue;
}

